
.App {
  background-color: black;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 100vh;  
  
}

.Auth-form {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius:20px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  cursor:pointer
  }

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 700;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.btn-delete button{
    top : 9px
 }

.btn-update button{
 left :10px;
 top : 9px
}

.btn-login{
background-color: black;

} 